{% extends 'app/base.html' %}
{% block title %}Catálogo{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/navcatalog.css' %}">
<div id="header">
    <ul class="nav">
        <li><a href="{% url 'catalogo' %}">Nuestros productos</a>
            <ul>
                {% for categoria in categorias %}
                <li>
                    <a href="{% url 'categoria' categoria.id %}"> {{ categoria }} </a>
                    <ul>
                        {% for marca in marcas %}

                        {% if marca.categoria_id == categoria.id %}

                            <li><a href=""> {{ marca.nombre_marca }} </a></li>

                        {% endif %}

                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>

<div id="contenido">

    <div class="galeria">

        {% for item in object_list %}

        <div class="contenedor_producto">
            <br>
            <br>
            <a data-fancybox="gallery" href="{{ item.imagen_producto.url }}"><img src="{{ item.imagen_producto.url }}"
                    alt="{% static 'media/img/nodisponible.png' %}"></a>


            <div class="detalle" style="text-align: center;">

                <div class="card-body">
                    <h3 class="card-title">{{ item.nombre_producto }}</h3>

                    <div class="row justify-content-between">
                        <h5 class="card-text text-success col-12 align-self-center">
                            Hoy: $ {{ item.precio }}
                        </h5>
                        <div class="card-footer text-center">
                            <a href="{% url 'agregar' item.id %}" class="col-8 btn btn-lg btn-primary">
                                <small>Agregar </small>
                                <i class="bi bi-cart-plus-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <small class="text-muted">Categoría : <strong>{{ item.categoria }}</strong></small>
                </div>
            </div>

        </div>

        {% endfor %}
    </div>
</div>


<!-- Paginador de lista: -->
<div>
<div class="col-7 mt-2">
    {% if is_paginated %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }} ">Previous</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="#"></a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    <li class="page-item {% if page_obj.number == i %}active{% endif %}" >
                        <a class="page-link" href="?page={{ i }}" > {{ i }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }} ">Next</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="#"></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
<!-- Fin de paginador -->
</div>

{% endblock %}