<html lang="es">
{% load crispy_forms_tags %}

<head>
	<meta charset="UTF-8">
	<title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<!-- Enlace al documento css. no aplicable en codepen.
  <link rel="stylesheet" type="text/css" href="contact-form.css">
-->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>

<body>
	{% include 'app/menu.html' %}
	<!-- formulario de contacto en html y css -->

	<div class="contact_form">
		<h6 style="text-align: center;">¿Olvidaste tu clave? Ingrese su dirección de correo electrónico</h6>
	
		<div class="formulario">
			<form action="" method="POST">
				{% csrf_token %}

				<table style="margin: 20px auto;">
					<div class="col-12 mt-2">
						<label for="">Email</label>
						{{ form.email }}
					</div>
			</table>
			
				<button type="submit" class="col-12 btn btn-lg btn-primary">
					<p>Enviar</p>
				</button>

			</form>
	
		</div>
	</div>

</body>

</html>