* {
    margin: 0px;    
    padding: 0px;
}

#header {
    margin: auto;
    width: auto;
    font-family: 'Balsamiq Sans', cursive;
    position: right;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: right;
}

.nav li a {
    background-color: #212529;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -110px;
    top: 0px;
}